* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Raleway', sans-serif;
    background-color: #FBE8A6;
    font-weight: 250;
}

/*****************/
/***Nav-Bar
/*****************/

#nav-bar {
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    z-index: 999;
    background-color: #D2FDFF;
    position: fixed;
}

header {
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding-bottom: 15px;
}

.nav-link {
    list-style: none;
    padding-left: 30px;
}

#nav-bar li {
    padding: 15px 0 15px 0;
}

.pic {
    position: relative;
    height: 163px;
    width: 152px;
    border-radius: 50%;
    margin: 15px 160px 5px 50px;
    border-bottom: none;
}

/*****************/
/***Landing Page
/*****************/

.landing-page {
    padding: 350px 0 500px 0;
    background-image: url(/home/gosu_jc/Coding/portfolio/resources/img);
}

.landing-page h1 {
    font-size: 60px;
    text-align: center;
    font-weight: 400;
    font-style: italic;
}

.landing-page p {
    font-size: 50px;
    text-align: center;
    font-style: italic;
    font-weight: 400;
}

/*****************/
/***Main
/*****************/

.main-page {
    padding-left: 250px;
    position: relative;
}

blockquote {
    border-left: 4px solid #123C69;
    padding-left: 25px;
    margin: 30px 120px 15px 120px;
}

blockquote h2 {
    font-weight: 500;
}


h3 {
    font-size: 75px;
    font-weight: 300;
    background-color: #303C6C;
    padding: 10px 0px 10px 20px;
    color: white;
}

/*****************/
/***About
/*****************/

.about {
    font-size: 30px;
    background-color: #F4976C;
}

.about p {
    margin: 25px 120px 25px 120px;
}

.about: last-child {
    margin-bottom: 50px;
}

.bottom-p {
    margin-bottom: 50px;
}