* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Raleway', sans-serif;
    background-color: #EEE2DC;
    font-weight: 250;
}

/*****************/
/***Nav-Bar
/*****************/

#nav-bar {
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    z-index: 999;
    background-color: #A8D0E6;
    position: fixed;
}

header {
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding-bottom: 15px;
}

.nav-link {
    list-style: none;
    padding-left: 30px;
}

#nav-bar li {
    padding: 15px 0 15px 0;
}

.pic {
    position: relative;
    height: 163px;
    width: 152px;
    border-radius: 50%;
    margin: 15px 160px 5px 50px;
    border-bottom: none;
}

/*****************/
/***Landing Page
/*****************/



.landing-page {
    padding: 350px 0 350px 0;
    background-image: url(/home/gosu_jc/Coding/portfolio/resources/img)
}

.landing-page h1 {
    text-align: center;
    font-weight: 400;
    font-style: italic;
}


/*****************/
/***Main
/*****************/

.main-page {
    padding-left: 280px;
    position: relative;
}

blockquote {
    border-left: 4px solid #123C69;
    padding-left: 15px;
}

blockquote h2 {
    font-weight: 500;
}


h3 {
    font-size: 75px;
    font-weight: 300;
}

/*****************/
/***About
/*****************/

.about {
    font-size: 30px;
}