* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Raleway', sans-serif;
    background-color: #FEFEFA;
    font-weight: 250;
}

/*****************/
/***Nav-Bar
/*****************/

#nav-bar {
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    z-index: 999;
    background-color: #F3E5AB;
    position: fixed;
}

header {
    border-bottom: 1px solid #ddd;
    text-align: left;
    padding: 25px 0 25px 25px;
    font-weight: 300;
    color: #F4976C;
    font-size: 35px;
}

header p {
    font-size: 20px;
    color: #303C6C;
}

.nav-link {
    list-style: none;
    padding-left: 30px;
}

#nav-bar li {
    padding: 15px 0 15px 0;
}

.pic {
    position: relative;
    height: 163px;
    width: 152px;
    border-radius: 50%;
    margin: 15px 160px 5px 50px;
    border-bottom: none;
}

/*****************/
/***Landing Page
/*****************/

.landing-page {
    padding: 350px 0 500px 0;
    background-image: url(/home/gosu_jc/Coding/portfolio/resources/img);
}

.landing-page h1 {
    font-size: 60px;
    text-align: center;
    font-weight: 400;
    font-style: italic;
    color:  #000;
}

.landing-page p {
    font-size: 50px;
    text-align: center;
    font-style: italic;
    font-weight: 400;
    color:  #000;
}

/*****************/
/***Main
/*****************/

.main-page {
    padding-left: 250px;
    position: relative;
}

blockquote {
    border-left: 4px solid #123C69;
    padding-left: 25px;
    margin: 30px 120px 15px 120px;
}

blockquote h2 {
    font-weight: 500;
}


h3 {
    font-size: 60px;
    font-weight: 300;
    background-color: #303C6C;
    padding: 10px 0px 10px 20px;
    color: white;
}

/*****************/
/***About
/*****************/

#about {
    font-size: 30px;
    background-color: #FEFEFA;
}

#about p {
    margin: 25px 120px 30px 120px;
}

.bottom-p {
    margin-bottom: 50px;
}

/*****************/
/***Projects
/*****************/

.projects-grid {
    text-align: center;
    display: grid;
    grid-template-columns: repeat (auto-fit, minmax(280px, 1fr));
    grid-gap: 4rem;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.projects-heading {
    font-size: 60px;
    font-weight: 300;
    text-align: left;
    background-color: #303C6C;
    padding: 10px 0px 10px 20px;
    color: white;
    max-width: 1760px;
}

.legend {
    height: 400px;
    width: 350px;
}

.project-image {
    height: 400px;
    width: 500px;
}

